---
import { thankYouContent } from "../content/thank-you";
---

<section>
	<h1>{thankYouContent.heading}</h1>
	<p>{thankYouContent.body}</p>
	<a href={thankYouContent.href}>Back to home</a>
</section>
